.toggle-button{
    -fx-background-color: #ededed;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.toggle-button:hover{
    -fx-background-color: #c3e4fa;
}

.toggle-button:selected{
    -fx-background-color:  #58BBFF;
}

.text-field{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #58BBFF;
}

.choice-box{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #58BBFF;
    -fx-background-color: white;
}

.button{
    -fx-pref-width: 130;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-background-color: #58BBFF;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 13;
}

.list-view{
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-border-color: #58BBFF;
    -fx-background-color: white;
}

.list-cell:filled:selected{
    -fx-background-color: #58BBFF;
}

.list-cell:hover{
    -fx-background-color: #c3e4fa;
}

